[mysqld]

# OPTIMIZE FOR LOADING LARGE DUMPS
max_allowed_packet=1GB

# THESE SACRIFICE DATA INTEGRITY FOR PERFORMANCE WHEN LOADING LARGE DUMPS
innodb_buffer_pool_size = 4G
innodb_log_buffer_size = 256M
innodb_log_file_size = 1G
innodb_flush_log_at_trx_commit = 0
innodb_doublewrite = 0

# Optimize for SSD
# https://dev.mysql.com/doc/refman/5.6/en/optimizing-innodb-diskio.html
innodb_checksum_algorithm = crc32
innodb_flush_neighbors = 0
innodb_io_capacity = 1000
innodb_log_compressed_pages = OFF
binlog_row_image = minimal
# innodb_flush_method parameter = O_DSYNC  # Tries to open too many files
