flake8
lxml
lru-dict
mysql-connector-python
nltk
nose
overdue
pyenchant
unidecode
wikipedia
textstat

gcld3

pycountry

git+https://github.com/wikimedia/pywikibot.git
wikitextparser
# Alternate parser: mwparserfromhell
